{plugins, [
  {rebar3_rust, ".*", {git, "https://github.com/goertzenator/rebar3_rust", {branch, "master"}}}
]}.

{provider_hooks, [
  {post, [
    {compile, {rust, build}},
    {clean, {rust, clean}},
    {eunit, {rust, test}}
  ]}
]}.

{erl_opts, [warnings_as_errors, warn_export_all, warn_obsolete_guards, warn_unused_import]}.

{eunit_opts, [
    verbose,
    {report, {
        eunit_surefire, [{dir,"."}]
    }}
]}.
